.bg {
    width: 100%;
    height: 637px;
    background-image: url(../image/skull1.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.img {
    top: 206px;
    left: 250px;
    width: 350px;
	position: absolute;
	transition: all 0.3s linear 0.9s;
	animation-name: new;
	animation-duration: 9s;
	animation-delay: 2s; 
	animation-iteration-count: infinite;
	animation-fill-mode: backwards;
	animation-direction: reverse;
	animation-timing-function: linear

}

@keyframes new {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate();
    }
}